TP1/target/
TP1/.settings/
TP1/.project
TP1/.classpath
TP1/*.class
TP1/bin/
TP1/.idea/
TP1/*.iml

GestionCommandes/target/
GestionCommandes/.settings/
GestionCommandes/.project
GestionCommandes/.classpath
GestionCommandes/*.class
GestionCommandes/bin/
GestionCommandes/.idea/
GestionCommandes/*.iml


GestionInscriptionSportif/target/
GestionInscriptionSportif/.settings/
GestionInscriptionSportif/.project
GestionInscriptionSportif/.classpath
GestionInscriptionSportif/*.class
GestionInscriptionSportif/bin/
GestionInscriptionSportif/.idea/
GestionInscriptionSportif/*.iml

GestionInscriptionSportifHibernate/target/
GestionInscriptionSportifHibernate/.settings/
GestionInscriptionSportifHibernate/.project
GestionInscriptionSportifHibernate/.classpath
GestionInscriptionSportifHibernate/*.class
GestionInscriptionSportifHibernate/bin/
GestionInscriptionSportifHibernate/.idea/
GestionInscriptionSportifHibernate/*.iml

projectCommandes/target/
projectCommandes/.settings/
projectCommandes/.project
projectCommandes/.classpath
projectCommandes/*.class
projectCommandes/bin/
projectCommandes/.idea/
projectCommandes/*.iml





